:root {
    --theme-color: black;
}

@font-face {
    font-family: 'Metropolis';
    src: url('fonts/metropolis/Metropolis-Regular.otf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Metropolis';
    src: url('fonts/metropolis/Metropolis-Bold.otf') format('opentype');
    font-weight: 700;
}

body {
    font-family: "Metropolis", sans-serif;
    font-weight: 400;
    color: white !important;
    background-color: var(--theme-color) !important
}

h1 {
    font-family: 'Metropolis', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 25px;
}

.welcome h1 {
    position: relative;
    display: inline-block;
    z-index: 2;
    overflow: hidden;
}

.welcome h1::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 0;
    height: calc(100% + 10px);
    background-color: #c7e6f2;
    z-index: -1;
    opacity: 0.3;
    animation: expand-highlight 0.6s ease-out forwards;
}

@keyframes expand-highlight {
    0% {
        width: 0;
        opacity: 0.3;
    }
    70% {
        opacity: 0.7;
    }
    100% {
        width: 100%;
        opacity: 0.7;
    }
}

.topnav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--theme-color);
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.2);                                  
}

.topnav a {
    color: white;
    width: 50px;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-right: 20px;
}

.topnav a:last-child {
    margin-right: 0;
}

.topnav .about {
    margin-left: auto;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--theme-color);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 -6px 6px rgba(255, 255, 255, 0.2);
}

footer p {
    margin: 0;
    font-size: 14px;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.article {
    display: block;
    background-color: var(--theme-color);
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.article a {
    text-decoration: none;
    color: inherit;
}

.article h2, .article p {
    color: white;
    text-decoration: none;
}

.article:hover {
    background-color: #dfdfdf;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

main h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
}

.below-content {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 15px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.project-content {
    text-align: left;
}

.project h2 {
    margin: 0;
    font-size: 1.5rem;
}

.project p {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

.project img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.projects-page main {
    justify-content: flex-start;
}

.projects-page main h1 {
    text-align: center;
    margin: 0;
    margin-top: 25px;
}

.leftButton, .rightButton {
    background: none;
    border: 2px solid rgba(0, 0, 0, 1);
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.leftButton:hover, .rightButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.leftButton:focus, .rightButton:focus {
    outline: none;
}

.leftButton {
    text-align: left;
}

.rightButton {
    text-align: right;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.project-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
}

.image-wrapper {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid #000000;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.image-wrapper .image-container,
.image-wrapper .buttons-container {
    width: 100%;
}

#content p, #contact-page p, #project-page p {
    line-height: 1.6;
    text-align: justify;
    margin: 0 auto;
    padding: 10px;
    max-width: 700px;
    word-spacing: 0.05em;
}
